html {
    background-color: #331716;
}
.post {
    max-width: 800px;
    background-color: #af1716;
    padding: 10px;
    margin:  5px auto 5px auto;
    color: #d8b78a;
}
img {
    max-width: 600px;
}
